body {
  background-color: black;
  transition: all 1s ease;
}

/* Navbar ========================= */
/* ================================ */
.mga-navbar {
  width: 100%;
  text-align: center;

  &__nav {
    padding: 0;
  }

  &__nav-item {
    display: inline-block;
    margin: 0 1rem;
    text-align: center;
  }

  &__nav-link {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
      color: gold;
      text-decoration: none;
    }
  }
}

.mga-header {

  &__nav-item {
    font-size: 1.25rem;
    line-height: 2rem;
    color: rgba(255, 255, 255, 0);
    font-family: 'Raleway', sans-serif;
    text-shadow: -2px 2px 3px gold;
    text-transform: uppercase;
    filter: blur(.5px);
    transition: color .4s ease;
    opacity: .7;

    &:hover {
      color: rgba(255, 255, 255, 1);
      cursor: pointer;
      opacity: 1;
    }
  }

  /* Header with Logo =============== */
  /* ================================ */

  &__logo-box {
    position: absolute;
    width: 200px;
    height: 200px;
    top: -60px;
    transition: all .4s ease;
    transform: translateX(-50%);
    left: 50%;
    filter: blur(4px);
    pointer-events: all;

    &:before {
      content: '';
      position: absolute;
      z-index: 15;
      top: 0;
      left: 0;
      width: 200px;
      height: 200px;
      background: url(img/logo/mga-img-logo-4-mask-15.png) center center no-repeat;
      background-size: contain;
    }
  }

  &__logo-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    transition: all 1s ease;

    &--m {
      width: 200px;
      height: 200px;
      z-index: 20;
    }

    &--g {
      width: 200px;
      height: 200px;
      z-index: 10;
      transform: rotate(0deg);
    }

    &--a {
      width: 200px;
      height: 200px;
      z-index: 20;
    }
  }

  &__title {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    text-shadow: -2px 2px 3px gold;
    position: relative;
    filter: blur(1px);
    z-index: 50;
    transition: all .4s ease;
    opacity: 1;
  }

  /*.mga-header__title:hover {*/
  /*filter: blur(0);*/
  /*}*/

}

.mga-section--footer-cover .mga-header__logo-box {
  top: -35px;
  filter: blur(2px);
}

.mga-header__title:hover,
.mga-header__logo-box:hover {
  filter: blur(0);
  /*transform: translateY(10px);*/
}

.mga-header__brand:hover .mga-header__logo-img--g,
.mga-header__logo-box:hover .mga-header__logo-img--g {
  transform: rotate(418deg);
}

.mga-header__brand:hover .mga-header__title {
  opacity: .3;
  filter: blur(2px);
}

.mga-header__brand:hover .mga-header__logo-box {
  filter: blur(0);
}

/* Sections======================== */
/* ================================ */

.mga-section {
  position: relative;
  top: 0;
  width: 100%;
  /*min-height: 300px;*/
  background-size: contain;
  background: transparent no-repeat top;
  filter: brightness(70%);
  //transition: all .4s ease;

  &:hover {
    filter: brightness(100%);
  }

  &--header {
    margin-top: 90px;
    margin-bottom: 45px;
    /*margin-bottom: 100px;*/
  }

  &--about {
    background-image: url(img/mga-img-bg-1-glitter.png);
    margin-top: 70px;
    /*margin-bottom: 165px;*/
    z-index: 0;
    /*height: 450px;*/
    /*top: 0;*/
    /*margin-bottom: -210px;*/
  }

  &--gallery {
    background-image: url(img/mga-img-bg-2-wood.png);
    margin-top: -235px;
    z-index: 10;
    /*height: 800px;*/
    /*margin-bottom: -205px;*/
  }

  &--contact {
    background-image: url(img/mga-img-bg-3-brush.png);
    z-index: 20;
    margin-top: -205px;
    /*height: 500px;*/
    /*margin-bottom: -110px;*/
  }

  &--footer-cover {
    height: 450px;
    z-index: 30;
    background-image: url(img/mga-img-bg-4-stars.png);
    pointer-events: none;
    margin-top: -130px;
    /*top: 0;*/
  }

  &__content {
    opacity: 1;
    &--active {
      opacity: 1;
    }
  }

  /* Card =========================== */
  /* ================================ */

  &__card {
    position: relative;
    max-height: 100vh;
    transform: translateY(0);
    padding: 20px 20px 30px;
    background-size: cover;
    background: url(img/mga-img-bg-91-card-film-1000x600.jpg);
    border-top: 1px solid #67624b;
    border-radius: 30px;
    /*border-radius: 140px;*/
    box-shadow: 0 0 20px 0 black;
    text-align: center;
    color: white;
    overflow: hidden;
    //transition: all .8s ease-in;

    &--active {
      max-height: 0;
      transform: translateY(50vh);
    }

    &--bookmark {
      height: 260px;
      border-radius: 50%;
    }

    &--about {
      z-index: 5;
      top: 0;
      width: 100%;
      margin-top: 70px;
      margin-bottom: 165px;
      /*height: auto;*/
      /*margin-top: 75px;*/
      background-position: right bottom;
    }

    &--gallery {
      z-index: 15;
      top: 0;
      width: 100%;
      margin-top: -70px;
      margin-bottom: 120px;
      /*height: 600px;*/
      background-position: left top;
    }

    &--contact {
      z-index: 25;
      top: 0;
      margin-top: -20px;
      margin-bottom: 60px;
      /*width: 200px;*/
      /*height: 400px;*/
      background-position: center center
    }
  }

  /* Card - Gallery ================= */
  /* ================================ */

  &__gallery-wrapper {
    text-align: center;
    margin: 0 auto;
    width: 760px;
  }

  &__gallery-item {

    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px 2px #484236;
    transition: all .2s ease;

    &:hover {
      //border: 4px solid gold;
    }
  }

  /*
  @media only screen and (max-width: 1199px) {
      &__gallery-wrapper {
          width: 700px;
          padding-left: 10px;
      }

      &__gallery-item {
          margin: 10px;
      }
  }

  @media only screen and (max-width: 991px) {
      &__gallery-item:nth-child(2) {
          margin-right: 30px;
      }
  }

  &__gallery-item--single {
      width: 200px;
  }

  &__gallery-item--double {
      width: 440px;
  }
  */
  &__artwork {
    width: 100%;
    height: auto;
    opacity: .7;
    transition: all .3s ease;
    transform: scale(1) rotate(360deg);

    &:hover {
      transform: scale(1.2) rotate(362deg);
      opacity: 1;
      cursor: pointer;
    }
  }

  &__heading {
    text-align: center;
    color: gold;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-shadow: 3px 2px 11px rgba(255, 215, 0, 0.50);
  }

  &__overline {
    border-top: 1px solid gold;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 1rem;
    margin-top: 1rem;
  }

  &__underline {
    border-bottom: 1px solid gold;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  &__text {
    margin-bottom: 0;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    text-shadow: 3px 2px 11px rgba(255, 255, 255, 0.50);

    &--heart {
      transition: all .5s ease;
      font-weight: 300;

      &:hover {
        color: red;
        font-weight: bold;
        cursor: crosshair;
        text-shadow: 3px 2px 21px red;
      }
    }

  }

  /* Additional Graphics ============ */
  /* ================================ */

  &__graphics {
    position: absolute;
    top: 65px;
    left: calc(50% - 77px);
    width: 75px;
  }

  &__graphics-heart {
    width: 100%;
    height: auto;
    transition: all .5s ease;
    filter: brightness(.8);

    &:hover {
      /*transform: rotate(-3deg);*/
      cursor: crosshair;
      filter: brightness(1);

    }
  }

  /* Shadows ======================== */
  /* ================================ */

  &--bg-side-shadows {
    position: relative;
    overflow: hidden;

    &:before {
      -webkit-box-shadow: inset 75px 0 40px -40px rgba(0, 0, 0, 1);
      -moz-box-shadow: inset 75px 0 40px -40px rgba(0, 0, 0, 1);
      box-shadow: inset 75px 0 40px -40px rgba(0, 0, 0, 1);
      content: '';
      position: absolute;
      z-index: 40;
      top: 0;
      left: 3px;
      width: 65px;
      height: 100%;
      display: inline-block;
    }

    &:after {
      -webkit-box-shadow: inset -75px 0 40px -40px rgba(0, 0, 0, 1);
      -moz-box-shadow: inset -75px 0 40px -40px rgba(0, 0, 0, 1);
      box-shadow: inset -75px 0 40px -40px rgba(0, 0, 0, 1);
      content: '';
      position: absolute;
      z-index: 40;
      top: 0;
      right: 3px;
      width: 65px;
      height: 100%;
      display: inline-block;
    }
  }

}

.mga-lightbox {

  &__wrapper {

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 60;

    &:before {
      position: fixed;
      content: '';
      width: 100%;
      height: 100%;
      background-color: #000000;
      opacity: .8;
    }
  }

  &__photo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    opacity: 1;
    z-index: 70;

    img {
      position: relative;
      display: block;
      margin: 0 auto 30px;
      box-shadow: 10px 10px 0px 0px gold;
      transition: all .3s ease;

      &:hover {
        box-shadow: 10px 10px 0px 0px white;

      }
    }
  }

  &__arrow {
    display: inline-block;
    z-index: 70;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 0 35px 35px;
    border-color: transparent transparent transparent #ffd900;
    opacity: .8;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    &--previous {
      border-color: transparent #ffd900 transparent transparent;

      border-width: 35px 35px 35px 0px;

    }

  }

}

.close-icon {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 75px;
  opacity: .8;
  margin: 0 40px;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  &:before,
  &:after {
    position: absolute;
    content: ' ';
    height: 82px;
    width: 8px;
    background-color: gold;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

}

/* Utilities ====================== */
/* ================================ */

.u-color-gold {
  color: gold;
}

.u-hidden {
  display: none;
}

@media screen and (min-width: 992px) {
  .u-lg-hover-shadow-left {
    text-shadow: 2px 2px 3px gold;
  }
}

/* ================================ */
/* ================================ */
